<div class="row gap-3 pt-5">
  <% @users.each do |user| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://placekitten.com/640/640" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= user[:name] %></h5>
          <p class="card-text"><%= user[:idade] %> years old.</p>
          <td><%= link_to "show", show_path(id: user[:id]), class: "btn btn-secondary" %></td>
        </div>
      </div>
    </div>
  <% end %>
<div>