<div class="row pt-5">
  <% if @user.present? %>
    <div class="col">
      <img src="https://placekitten.com/640/640" class="img-thumbnail float-end" width= 50% height= 50% >
    </div>
    <div class="col">
      <h5><%= @user[:name] %></h5>
    </div>
    <div class="col">
      <%= link_to "edit", edit_path(id: @user[:id]), class: "btn btn-warning" %>
      <%= link_to "delete", destroy_path(@user), data: { turbo: true, turbo_method: :delete, turbo_confirm: "Are u sure about deleting it?" }, class: "btn btn-danger" %>
    </div>
  <% end %>  
</div>
